.navbar-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: #ffa500;
}
.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa500;
    padding: 10px;
}


.container-navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar-brand{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}
.navbar-brand span{
    color: #333;
}